.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: #b80056;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: none;
}
a:visited,
.alink:visited,
a:hover,
.alink:hover {
  color: #b80056;
}
img {
  max-width: 100%;
}
body {
  font-family: 'Gotham-Book';
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #606060;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display';
  font-weight: 400;
  color: #363636;
  margin: 0 0 0.625rem 0;
}
.h1,
h1 {
  font-size: 5.375em;
}
.h2,
h2 {
  font-size: 3.625em;
}
.h3,
h3 {
  font-size: 3em;
}
.h4,
h4 {
  font-size: 2.25em;
}
.h5,
h5 {
  font-size: 1.625em;
}
.h6,
h6 {
  font-size: 1.375em;
}
p {
  margin-bottom: 0.625rem;
}
.p2 {
  font-size: 1.375em;
  line-height: 2.0625em;
}
.small-title {
  font-size: 1.375em;
  line-height: 1.9375em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-family: "Gotham";
}
strong,
b {
  font-weight: 600;
}
button {
  box-shadow: none !important;
}
.btn {
  background-color: #fff;
  border: 1px solid transparent;
  padding: 0.625em 1.25em 0.625em 1.25em;
  font-size: 0.875em;
  line-height: 1.9375em;
  color: #b80056;
  text-transform: uppercase;
  font-family: "Gotham";
  cursor: pointer;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  position: relative;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
  display: inline-block;
}
.btn:hover {
  background-color: #fff;
  color: #b80056;
  border-color: transparent;
}
.btn-link {
  background-color: transparent !important;
}
.btn-primary {
  background-color: #b80056;
  color: #fff;
}
.btn-with-icon {
  padding: 0.625em 3em 0.625em 1.25em;
}
.btn-with-icon span {
  position: relative;
}
.btn-with-icon span:after {
  content: '\f301';
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  font-size: 1.5em;
  font-weight: 300;
  margin-right: -1em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.btn-with-icon span:hover:after {
  margin-right: -1.2em;
}
input {
  border: 1px solid rgba(236, 236, 236);
  width: 100%;
  height: 3em;
  font-size: 1.1875em;
  padding: 1em;
  color: #606060 !important;
  font-family: 'Gotham-Book';
}
select {
  background: #fff url(../../images/select-bg.svg) no-repeat 100% 45%;
  background-size: 30px 60px;
}
html {
  font-size: 100%;
}
.page-header .panel.wrapper {
  background-color: #b80056;
  height: 2.8125em;
}
.page-header ul {
  margin-bottom: 0;
}
.page-header .panel.header,
.page-header .header.content {
  padding: 0 1.25em;
  max-width: 1770px;
}
.page-header .header.content {
  position: relative;
}
.page-header .header.panel > .header.links {
  display: none;
  float: right;
  font-size: 1em;
  margin: 0;
}
.page-header .header.panel > .header.links:first-child {
  float: left;
}
.page-header .header.panel > .header.links:first-child li:last-child {
  padding: 0.625em 0.9375em;
}
.page-header .header.panel > .header.links > li {
  margin: 0;
  list-style: none;
}
.page-header .header.panel > .header.links > li > a:hover {
  text-decoration: none;
}
.page-header .header.panel > .header.links > li > a,
.page-header .header.panel > .header.links > li > span,
.page-header .header.panel > .header.links > li > span a:not(.social-icon) {
  display: inline;
  font-size: 1em;
  font-family: "Gotham";
  color: #fff;
  text-transform: uppercase;
  line-height: 1.6875em;
}
.page-header .header.panel > .header.links li {
  float: left;
  height: 2.8125em;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.625em 2.1875em;
  font-size: 1em;
}
.page-header .header.panel > .header.links li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.page-header .social-section {
  display: inline-block;
}
.page-header .social-icon {
  width: 1.5em;
  height: 1.5em;
  background-color: #fff;
  color: #b80056;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 0.2em;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
}
.page-header .social-icon:hover {
  background-color: transparent;
  color: #fff;
}
.page-header .nav.item {
  padding: 3.75em 4.6875em;
  float: left;
  list-style: none;
  margin-bottom: 0;
}
.page-header .nav.item a {
  font-size: 1.25em;
  color: #363636;
  text-transform: uppercase;
  font-family: "Gotham";
}
.page-header .nav.item a:hover {
  text-decoration: none;
}
.page-header .header-bar {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.page-header .header-bar .header.links {
  float: left;
}
.page-header .header-bar .header.links .nav.item:first-child {
  padding-left: 0;
}
.page-header .header-bar .header.links:last-child {
  float: right;
}
.page-header .header-bar .header.links:last-child .nav.item:last-child {
  padding-right: 0;
}
.page-header .header-bar .logo {
  display: inline-block;
  margin: 0.9em 0 0 -5em;
  max-width: 11.375em;
  float: none;
  position: static;
}
.page-header .header-bar .logo img {
  max-width: 100%;
}
.page-header .mobile-btn {
  margin-top: -5px;
}
.page-header .mobile-btn a {
  width: 100%;
  display: inline-block;
  padding: 0.719em 1em;
  background-color: #b80056;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  font-family: "Gotham";
}
.visible-only-mobile {
  display: block !important;
}
.nav-sections {
  margin-bottom: 0;
}
.nav-sections .navigation {
  max-width: 1770px;
  background-color: transparent;
}
.nav-sections .navigation .level0 > .level-top,
.nav-sections .navigation .input-text {
  font-size: 1.0625em;
  color: #7e7e7e;
  font-family: "Gotham";
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 0.75em;
}
.nav-sections .navigation ::placeholder {
  color: #7e7e7e;
}
.nav-sections .navigation ::-webkit-input-placeholder {
  color: #7e7e7e;
}
.nav-sections .navigation ::-moz-placeholder {
  color: #7e7e7e;
}
.nav-sections .navigation :-ms-input-placeholder {
  color: #7e7e7e;
}
.nav-sections .navigation .level0 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 3.125em;
}
.nav-sections .navigation .level0:nth-last-child(2) > .level-top span > span {
  text-decoration: underline;
  color: #fff;
}
#search_mini_form {
  height: 3.125em;
}
#search_mini_form .label {
  display: none;
}
#search_mini_form .control .nested {
  display: none;
}
#search_mini_form .input-text {
  border: 0;
  background-color: transparent;
  height: 3.125em;
  text-align: center;
}
#search_mini_form .input-text:focus {
  box-shadow: none;
}
#search_mini_form .actions {
  width: 3em;
  float: left;
  height: 3.125em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search_mini_form .actions button {
  border: 0;
  position: relative;
  cursor: pointer;
  background: transparent;
  padding: 0;
  color: #7e7e7e;
  font-size: 1.4em;
}
#search_mini_form .actions button:hover {
  background: transparent;
}
#search_mini_form .actions button:before {
  font-family: 'Material-Design-Iconic-Font';
  content: '\f1c3';
}
#search_mini_form .actions button span {
  display: none;
}
#search_mini_form .field {
  width: calc(100% - 3em);
  float: left;
  text-align: center;
  height: 3.125em;
}
.flaticon-shopping-cart {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  display: inline-block;
}
@media (min-width: 999px) {
  .nav-sections {
    border: 1px solid rgba(126, 126, 126, 0.4);
    border-left: 0;
    border-right: 0;
  }
  .nav-sections .ui-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 1.25em;
  }
  .nav-sections .ui-menu .level0 {
    flex: 1 1 auto;
    border-right: 1px solid rgba(126, 126, 126, 0.4);
  }
  .nav-sections .ui-menu .level0:first-child {
    border-left: 1px solid rgba(126, 126, 126, 0.4);
  }
  .nav-sections .ui-menu .level0:nth-last-child(2) > .level-top {
    padding-right: 2.5em;
  }
  .nav-sections .ui-menu .level0:nth-last-child(2) > .level-top span > span {
    color: #b80056;
    font-weight: 600;
  }
  .nav-sections .ui-menu .level0:nth-last-child(2) > .level-top:after,
  .nav-sections .ui-menu .level0:nth-last-child(2) > .level-top:before {
    position: absolute;
    right: 0;
    color: #b80056;
    font-family: 'Material-Design-Iconic-Font';
    top: 0;
  }
  .nav-sections .ui-menu .level0:nth-last-child(2) > .level-top:before {
    content: '\f2fe';
    margin-right: 1.25em;
  }
  .nav-sections .ui-menu .level0:nth-last-child(2) > .level-top:after {
    font-family: "Flaticon";
    content: '\f154';
    margin-right: -0.25em;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  .nav-sections .ui-menu .level0:last-child > .level-top {
    color: #b80056;
    text-decoration: underline;
  }
  .page-header .header.panel > .header.links {
    display: inline-block;
  }
  .visible-only-mobile {
    display: none !important;
  }
  .nav-sections-item-title {
    display: none;
  }
}
@media (max-width: 1630px) {
  .page-header,
  .nav-sections {
    font-size: 0.9rem;
  }
}
@media (max-width: 1480px) {
  .page-header,
  .nav-sections {
    font-size: 0.8rem;
  }
}
@media (max-width: 1300px) {
  .page-header,
  .nav-sections {
    font-size: 0.7rem;
  }
}
@media (max-width: 1150px) {
  .page-header,
  .nav-sections {
    font-size: 0.65rem;
  }
}
@media (max-width: 1050px) {
  .page-header,
  .nav-sections {
    font-size: 0.6rem;
  }
}
@media (max-width: 998px) {
  .page-header {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .page-header .header-bar {
    position: absolute;
    text-align: left;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .page-header .header-bar .logo {
    margin: 0;
    padding: 0.5em 1em 0 1em;
  }
  .page-header .header.content {
    width: 100%;
    display: inline-block;
    height: 7.1875em;
  }
  .page-header .header.panel > .header.links {
    float: none;
  }
  .page-header .header.panel > .header.links li {
    float: right;
  }
  .page-header .header.panel > .header.links li:first-child {
    border-left: 0;
    float: left;
  }
  .page-header .header.panel > .header.links li:last-child {
    border-right: 0;
  }
  .page-header .panel.header,
  .page-header .header.content {
    padding: 0;
  }
  .nav-toggle {
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 2.5em;
    margin-right: 0.55em;
    top: 50%;
    margin-top: -0.65em;
    line-height: 1.1;
    cursor: pointer;
    z-index: 1;
    left: auto;
  }
  .nav-toggle:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
    line-height: inherit;
    color: #7e7e7e;
    content: '\f197';
    font-family: 'Material-Design-Iconic-Font';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .header.links {
    display: none;
  }
  .nav-sections {
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    -o-transition: right 0.3s;
    height: 100%;
    right: -80%;
    right: calc(-1 * (100% - 3.75em));
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 3.75em);
    z-index: 9;
    left: auto;
    background-color: #b80056;
  }
  .nav-sections .navigation ul {
    padding: 0;
  }
  .nav-sections .navigation .level0 > .level-top {
    color: #fff;
    display: block;
    font-size: 1.5em;
    line-height: 1.7em;
    width: 100%;
    padding: 0.5em 0.75em;
  }
  .nav-sections .navigation .level0 {
    justify-content: flex-start;
    height: 4em;
  }
  .navigation .level0 {
    font-size: 1em;
  }
  .nav-sections-item-title {
    background: transparent;
    border: solid rgba(255, 255, 255, 0.3);
    border-width: 0 0 1px 1px;
    float: left;
    height: auto;
    padding-top: 0;
    text-align: center;
    width: 50%;
    display: block;
  }
  .nav-sections-item-title.active {
    background: #9f004a;
  }
  .nav-sections-item-title a {
    font-size: 1.5em;
    color: #fff;
    padding: 1em;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-family: "Gotham";
  }
  .nav-sections-item-title a:hover {
    text-decoration: none;
  }
  .nav-sections-item-content {
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    margin-top: 6em;
    width: 100%;
    padding: 0;
  }
  .navigation li.level0 {
    border-top: none;
  }
  .navigation li.level0:last-child {
    border-bottom: 0;
  }
  .nav-before-open {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
  }
  .nav-before-open .page-wrapper {
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    -o-transition: right 0.3s;
    height: 100%;
    right: 0;
    overflow: hidden;
    position: relative;
    left: auto;
  }
  .nav-open .page-wrapper {
    right: 80%;
    right: calc(100% - 3.75em);
  }
  .nav-open .nav-toggle:after {
    background: rgba(0, 0, 0, 0.7);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .nav-open .nav-sections {
    right: 0;
    left: auto;
  }
  #search_mini_form {
    height: 4em;
  }
  #search_mini_form .input-text {
    height: 2.5em;
    font-size: 1.5em;
    text-align: left;
    color: #fff;
  }
  #search_mini_form ::placeholder {
    color: #fff;
  }
  #search_mini_form ::-webkit-input-placeholder {
    color: #fff;
  }
  #search_mini_form ::-moz-placeholder {
    color: #fff;
  }
  #search_mini_form :-ms-input-placeholder {
    color: #fff;
  }
  #search_mini_form .actions {
    height: 4em;
  }
  #search_mini_form .actions button {
    color: #fff;
  }
  #search_mini_form .field {
    height: 4em;
  }
}
@media (max-width: 767px) {
  .page-header .panel.wrapper {
    font-size: 0.8rem;
  }
}
@media (max-width: 575px) {
  .page-header .panel.wrapper {
    font-size: 0.6rem;
    height: 3.75em;
  }
  .page-header .header.content {
    font-size: 0.75rem;
  }
  .page-header .mobile-btn {
    font-size: 0.6087rem;
  }
  .page-header .mobile-btn a {
    padding: 1.181em 1em;
  }
  .page-header .header.panel > .header.links li {
    height: 3.75em;
    padding: 1.1em 2.1875em;
  }
}
@media (max-width: 374px) {
  .page-header .panel.wrapper {
    font-size: 0.55rem;
  }
  .page-header .header.panel > .header.links li {
    padding: 1.181em 1.5em;
  }
}
.page-footer {
  background-color: #434343;
  font-family: "Gotham";
  padding-bottom: 0;
  margin-top: 0;
}
.page-footer .footer.links {
  width: 100%;
  display: block;
  padding: 0;
  text-align: center;
}
.page-footer .footer.content {
  max-width: 100%;
  padding: 0;
}
.page-footer .footer.content .links {
  max-width: 1240px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2em 0;
}
.page-footer .footer.content .links li {
  font-size: 1em;
  font-family: "Gotham";
  text-transform: uppercase;
  line-height: 1.6875em;
  margin: 0;
  padding: 0.2em 0.625em;
  flex: 1 1 auto;
  background: #434343;
  border-top: 0;
}
.page-footer .footer.content .links li a {
  color: #fff;
}
.page-footer .footer.content .links li a:hover {
  text-decoration: none;
}
.page-footer .footer.content .block {
  float: none;
  width: 100%;
  text-align: center;
  background-color: #5c5c5c;
  padding: 5em 1em;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 0;
  border-right: 0;
}
.page-footer .footer.content .block .action.primary {
  background-color: #b80056;
  padding: 0.907em 4em 0.907em 2em;
  border-radius: 0;
  font-size: 1em;
  border-color: #b80056;
  margin-left: 0;
  position: relative;
}
.page-footer .footer.content .block .action.primary:after {
  content: '\f301';
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  font-size: 1.5em;
  font-weight: 300;
  margin-right: 1.3em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.page-footer .footer.content .block .action.primary:hover:after {
  margin-right: 1.2em;
}
.page-footer .footer.content .block.newsletter .title {
  display: block;
}
.page-footer .footer.content .block.newsletter .title a {
  display: block;
  color: #fff;
  font-size: 2.375em;
  font-weight: 700;
}
.page-footer .footer.content .block.newsletter .title strong {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}
.page-footer .footer.content .block.newsletter ::placeholder {
  color: rgba(112, 112, 112, 0.7) !important;
}
.page-footer .footer.content .block.newsletter ::-webkit-input-placeholder {
  color: rgba(112, 112, 112, 0.7) !important;
}
.page-footer .footer.content .block.newsletter ::-moz-placeholder {
  color: rgba(112, 112, 112, 0.7) !important;
}
.page-footer .footer.content .block.newsletter :-ms-input-placeholder {
  color: rgba(112, 112, 112, 0.7) !important;
}
.page-footer .footer.content .block.newsletter input {
  height: 3.5em;
  padding: 1em 1.5em;
  font-family: "Gotham";
  font-size: 1em;
  color: #707070;
}
.page-footer .footer.content .block .content {
  max-width: 1165px;
  margin: 0 auto;
}
.page-footer .footer.content .block .content form {
  max-width: 33.4375em;
  margin: 0 auto;
}
.page-footer .footer.content .block .control:before {
  display: none;
}
.page-footer .footer.content .mobile-link-btn {
  display: none;
}
.page-footer .connect-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.page-footer .connect-section .connect-container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 1.5em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page-footer .connect-section .connect-container > div {
  padding: 0.5em 1.5em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 0;
  border-bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.page-footer .connect-section .connect-container > div span {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #dedede;
  display: inline-block;
  vertical-align: middle;
}
.page-footer .connect-section .connect-container > div span img {
  max-width: 3.5em;
  padding: 0.2em 0.5em;
}
.page-footer .connect-section .connect-container > div span:first-child {
  margin-right: 0.3125em;
}
.page-footer .social-section {
  display: inline-block;
}
.page-footer .social-icon {
  width: 1.7em;
  height: 1.7em;
  background-color: #fff;
  color: #434343;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 0.2em;
  font-size: 1.2em;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
}
.page-footer .social-icon:hover {
  background-color: transparent;
  color: #fff;
}
.copyright-section {
  background-color: #434343;
}
.copyright {
  background-color: #434343;
  font-size: 0.875em;
  color: #e0e0e0;
  font-family: "Gotham";
  max-width: 1165px;
  margin: 0 auto;
  width: 100%;
  padding: 2em 1.5em;
  line-height: 1.5;
  text-align: center;
  justify-content: space-between;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.copyright span {
  display: inline-block;
  text-align: left;
}
@media (max-width: 767px) {
  .page-footer .footer.content {
    text-align: center;
    border: 0;
    position: relative;
  }
  .page-footer .footer.content .mobile-link-btn {
    margin: 1em auto;
    width: 90%;
    background-color: #6c6c6c;
    box-shadow: none;
    border: 0;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Gotham Book';
    font-weight: 400;
    font-size: 1em;
    border-radius: 0;
    padding: 1em;
    position: relative;
    display: inline-block;
  }
  .page-footer .footer.content .mobile-link-btn:before {
    content: '\f2f9';
    font-family: 'Material-Design-Iconic-Font';
    font-size: 1.5em;
    position: absolute;
    right: 0;
    font-weight: 2200;
    margin-right: 0.66667em;
  }
  .page-footer .footer.content .footer.links {
    display: none;
    display: block;
    width: 90%;
    padding: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin-top: 73px;
    background-color: red;
    z-index: 1;
  }
  .page-footer .footer.content .footer.links li {
    text-align: left;
  }
  .page-footer .footer.content .footer.links.active {
    display: block;
  }
  .page-footer .footer.content .block {
    border: 0;
  }
  .page-footer .footer.content .block .action.primary {
    padding: 0.2em 2em;
    min-height: 3.5em;
  }
  .page-footer .footer.content .block .action.primary span {
    display: none;
  }
  .page-footer .footer.content .block .action.primary:after {
    margin-right: 22px;
  }
  .page-footer .footer.content .block .action.primary:hover:after {
    margin-right: 15px;
  }
  .page-footer .connect-section .connect-container {
    flex-direction: column-reverse;
    padding: 0;
  }
  .page-footer .connect-section .connect-container > div {
    display: block;
    text-align: center;
    padding: 1em 1.5em;
    border-left: 0;
    border-right: 0;
  }
  .page-footer .connect-section .connect-container > div:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .page-footer .connect-section .connect-container > div span {
    display: block;
    margin-bottom: 0.5em;
  }
  .copyright {
    display: block;
  }
  .copyright span {
    display: block;
    text-align: center;
  }
  .copyright span:first-child {
    display: none;
  }
}
.page-main {
  max-width: 100%;
  padding: 0;
  background-color: #ececec;
}
.page-main .home-main {
  max-width: 100%;
  min-height: 35.3125em;
  position: relative;
  margin-bottom: 0;
  overflow: visible;
}
.page-main .home-main .banner-img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.page-main .home-main:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
}
.page-main .column.main {
  padding-bottom: 0;
}
.page-main .banner.home-banner .blocks-promo .content {
  max-width: 25em;
  width: auto;
  top: 50%;
  right: auto;
  left: 50%;
  margin-top: -9.5em;
  background-color: transparent;
  color: #fff;
  margin-left: -1.5625em;
  text-align: left;
  transform: none;
}
.page-main .banner .blocks-promo .title {
  font-family: 'Playfair Display';
  font-size: 4.5em;
  line-height: 1.1;
  margin-bottom: 0.5em;
}
.page-main .banner .blocks-promo .info {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  font-family: "Gotham";
  margin-bottom: 0;
}
.page-main .banner .blocks-promo .content {
  max-width: 100%;
  width: 100%;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  background-color: transparent;
  color: #fff;
  margin: 0;
  text-align: center;
}
.page-main .blog-main {
  max-width: 100%;
  height: 26.875em;
  position: relative;
  margin-bottom: 0;
}
.page-main .banner-img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.page-main .img-block {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  margin-bottom: -6.8em;
  margin-left: -31em;
  max-width: 28.125em;
}
.page-main .img-block img {
  max-width: 100%;
}
.page-main .content-heading {
  max-width: 64.6875em;
  margin: 0 auto;
  padding-top: 3em;
}
.page-main .content-heading.about-content {
  padding: 12em 1em 1em 1em;
}
.page-main .content-heading:before {
  display: none;
}
.page-main .content-heading .info {
  color: #b80056;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  font-family: "Gotham";
  margin-bottom: 0;
}
.page-main .content-heading .title {
  font-size: 3.625em;
  margin-bottom: 0.5em;
}
.page-main .content-heading .desc {
  font-size: 1.25em;
  white-space: pre-wrap;
}
.page-main .block-products-list {
  max-width: 66.25em;
  margin: 0 auto;
  padding: 1.5em 3em;
}
.page-main .block-products-list .product-image-container {
  width: 15em;
}
.page-main .block-products-list .product-image-wrapper {
  padding-bottom: 125%;
}
.page-main .block-products-list .product-image-photo {
  height: 100%;
  object-fit: contain;
}
.page-main .block-products-list .product-item-photo {
  display: inline-block;
  width: 100%;
}
.page-main .block-products-list .product-item-info {
  text-align: center;
  padding: 0.5625em;
  position: relative;
  z-index: 2;
  border: 1px solid transparent;
  margin: 0;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
}
.page-main .block-products-list .product-item-info:hover,
.page-main .block-products-list .product-item-info.active {
  -webkit-box-shadow: 0 0 5em 0.9375em rgba(182, 182, 182, 0.3);
  -moz-box-shadow: 0 0 5em 0.9375em rgba(182, 182, 182, 0.3);
  box-shadow: 0 0 5em 0.9375em rgba(182, 182, 182, 0.3);
  background-color: #fff;
}
.page-main .block-products-list .product-item-actions {
  margin: 0;
  display: block;
}
.page-main .block-products-list .product-item-details {
  text-align: center;
}
.page-main .block-products-list .price-box {
  margin: 0.5em 0;
}
.page-main .block-products-list .price-box .price {
  font-size: 1.3em;
  color: #b80056;
}
.page-main .block-products-list .actions-primary {
  display: block;
  padding-top: 0.5em;
}
.page-main .block-products-list .actions-primary .action {
  background-color: transparent;
  border: 0;
  color: #b80056;
  text-transform: uppercase;
  position: relative;
  padding-right: 2.5em;
}
.page-main .block-products-list .actions-primary .action:after {
  content: '\f301';
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  font-size: 1.5em;
  font-weight: 300;
  margin-right: 0.75em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.page-main .block-products-list .actions-primary .action:hover:after {
  margin-right: 0.5em;
}
.page-main .block-products-list .product-item-name {
  color: #363636;
  padding: 0 0.5em 0.5em 0.5em;
}
.page-main .block-products-list .offer {
  border-bottom: 1px solid rgba(112, 112, 112, 0.302);
  padding-bottom: 1em;
}
.page-main .block-products-list .product-item-name,
.page-main .block-products-list .offer,
.page-main .block-products-list .action {
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Gotham";
  margin-bottom: 0;
}
.page-main .block-products-list .product-item-name {
  max-width: 10.5em;
  margin: 0 auto;
}
.page-main .block-products-list .action {
  font-size: 1em;
}
.page-main .block-products-list .badge {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 9.375em;
  margin-top: -4.6875em;
  margin-right: -3.75em;
}
.page-main .block-products-list .product-items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}
.page-main .block-products-list .product-items .product-item {
  width: auto;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 1em;
  margin: 0 0 2em 0;
  position: relative;
}
.page-main .block-products-list.grid-4 .product-items .product-item {
  flex: 0 0 25%;
  max-width: 25%;
}
.page-main .block-products-list.grid-4 .product-item-name {
  max-width: 100%;
}
.page-main .block-products-list.grid-4 .product-item-name,
.page-main .block-products-list.grid-4 .offer {
  font-size: 0.9em;
}
.page-main .block-products-list.grid-4 .price-box .price {
  font-size: 1.2em;
}
.page-main .block-products-list.grid-4 .action {
  font-size: 0.875em;
}
.page-main .bg-white {
  background-color: #fff;
}
.page-main .bg-off-white {
  background-color: #f6f6f6;
}
.page-main .block-promo-hp {
  margin: 0;
}
.page-main .news-section .blocks-promo {
  margin: 0 auto;
  max-width: 66.25em;
  padding: 1.5em 3em;
}
.page-main .news-section .blocks-promo .content {
  position: relative;
  padding: 0 1.5em;
  line-height: 1.5;
}
.page-main .news-section .blocks-promo .content:after {
  position: absolute;
  content: '\f301';
  font-family: 'Material-Design-Iconic-Font';
  bottom: 0;
  margin-bottom: 0;
  left: 0;
  margin-left: 1.1em;
  color: #b80056;
  font-size: 1.4em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.page-main .news-section .blocks-promo .block-promo {
  border: 0;
  margin: 0;
  line-height: 0;
  width: 50%;
}
.page-main .news-section .blocks-promo .block-promo img {
  max-height: 15.0625em;
  overflow: hidden;
  max-width: 100%;
  width: 50%;
  float: left;
}
.page-main .news-section .blocks-promo .block-promo .content {
  height: 15.0625em;
  width: 50%;
  float: left;
  padding: 1em 1.5em;
}
.page-main .news-section .blocks-promo .block-promo:first-child img {
  max-height: 23.125em;
  overflow: hidden;
  width: 100%;
  float: none;
}
.page-main .news-section .blocks-promo .block-promo:first-child .content {
  height: 10.244em;
  width: 100%;
  float: none;
  padding: 1em 0.5em;
}
.page-main .news-section .blocks-promo .block-promo:first-child .content:after {
  margin-left: 0.5em;
}
.page-main .news-section .blocks-promo .block-promo:nth-child(even) img {
  float: right;
}
.page-main .news-section .blocks-promo .block-promo:hover:first-child .content:after {
  margin-left: 1em;
}
.page-main .news-section .blocks-promo .block-promo:hover .content:after {
  margin-left: 1.4em;
}
.page-main .news-section .blocks-promo .title {
  font-size: 1.0625em;
  font-family: "Gotham";
  margin-bottom: 0.5em;
  color: #363636;
  font-weight: 500;
  max-width: 23em;
}
.page-main .news-section .blocks-promo .date {
  font-size: 0.875em;
  font-family: "Gotham";
  color: #b1b1b1;
}
.page-main .news-section .blocks-promo .block-promo-wrapper:first-child .block-promo:nth-child(even) .content {
  padding: 0 1.5em;
}
@media (min-width: 768px) {
  .visible-md-only {
    display: none;
  }
}
@media (max-width: 1439px) {
  .page-main .columns {
    font-size: 0.9rem;
  }
}
@media (max-width: 998px) {
  .page-main .columns {
    font-size: 0.8rem;
  }
  .page-main .block-products-list .product-items .product-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .page-main .block-products-list.grid-4 .product-items .product-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .page-main .news-section .blocks-promo {
    font-size: 0.7rem;
  }
}
.widget .block-promo img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .page-main .columns {
    font-size: 1rem;
  }
  .page-main .column.main {
    padding-bottom: 0;
  }
  .page-main .home-main {
    min-height: 45.5625em;
  }
  .page-main .banner.home-banner .blocks-promo .content {
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 31.25em;
    margin: 2em auto 0 auto;
  }
  .page-main .banner .blocks-promo .content {
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 31.25em;
    margin: 2em auto 0 auto;
  }
  .page-main .banner .blocks-promo .title {
    font-size: 3.5em;
    text-transform: uppercase;
    margin: 0.1em 0 0.5em 0;
    letter-spacing: 0.05em;
  }
  .page-main .banner .blocks-promo .btn {
    width: 100%;
  }
  .page-main .hide-md {
    display: none;
  }
  .page-main .img-block {
    max-width: 14.375em;
    bottom: auto;
    margin-bottom: 0;
    top: 0;
    margin-left: -7.1875em;
    margin-top: 2em;
  }
  .page-main .content-heading.about-content {
    padding: 2em 1em;
  }
  .page-main .block-products-list .product-items .product-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .page-main .block-products-list.grid-4 .product-items .product-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .page-main .blocks-promo {
    margin: 0;
  }
  .page-main .news-section .blocks-promo {
    font-size: 0.9rem;
  }
  .page-main .news-section .blocks-promo .block-promo {
    width: 100%;
    float: none;
    max-width: 20em;
    margin: 1em auto;
  }
  .page-main .news-section .blocks-promo .block-promo .content,
  .page-main .news-section .blocks-promo .block-promo img {
    width: 100%;
    float: none;
  }
  .page-main .news-section .blocks-promo .block-promo img {
    max-height: 13.125em;
  }
  .page-main .news-section .blocks-promo .block-promo .content {
    padding: 1em 0.5em;
    height: auto;
  }
  .page-main .news-section .blocks-promo .block-promo .content:after {
    position: relative;
    margin: 0;
    float: right;
  }
  .page-main .news-section .blocks-promo .block-promo:nth-child(even) img,
  .page-main .news-section .blocks-promo .block-promo:first-child img {
    float: none;
  }
  .page-main .news-section .blocks-promo .block-promo:first-child .content {
    height: auto;
  }
  .page-main .news-section .blocks-promo .block-promo:first-child img {
    max-height: 13.125em;
  }
}
@media (max-width: 575px) {
  .page-main .columns {
    font-size: 0.8rem;
  }
  .page-main .content-heading {
    font-size: 0.75rem;
  }
  .page-main .news-section .blocks-promo {
    font-size: 0.8rem;
  }
}
@media (max-width: 399px) {
  .page-main .home-main img {
    margin-left: 0;
  }
}
.login-page {
  text-align: center;
}
.login-page .page-title-wrapper,
.login-page .login-container {
  max-width: 1060px;
  margin: 0 auto;
}
.login-page .page-title {
  font-size: 3.625em;
  margin: 0;
}
.login-page .block {
  width: 100%;
}
.login-page .page-title-wrapper,
.login-page .login-container {
  background-color: #fff;
}
.login-page .page-title-wrapper {
  padding: 2em 2em 0em 2em;
}
.login-page .login-container .fieldset > .field > .control {
  width: 100%;
}
.login-page .block-customer-login {
  max-width: 62.5em;
  margin: 0 auto;
  float: none !important;
  padding: 0em 2em 1em 2em;
}
.login-page .field {
  width: calc(50% - 0.625em);
  float: left;
  margin: 1em 1.25em 1em 0;
}
.login-page .field:nth-child(2) {
  margin-right: 0;
}
.login-page .fieldset:before {
  margin: 0.625em;
  content: attr(data-hasrequired);
  display: block;
  letter-spacing: normal;
  word-spacing: normal;
  color: #b80056;
  font-size: 1.375em;
  font-family: "Gotham";
  font-weight: 300;
}
.login-page .fieldset:after {
  display: none;
}
.login-page input {
  border: 1px solid rgba(236, 236, 236);
  width: 100%;
  height: 3em;
  font-size: 1.1875em;
  padding: 1em;
  color: #606060 !important;
  font-family: 'Gotham-Book';
}
.login-page .actions-toolbar {
  text-align: center;
}
.login-page .actions-toolbar .primary {
  float: none;
}
.login-page .actions-toolbar .primary,
.login-page .actions-toolbar .secondary {
  display: block;
}
.login-page .actions-toolbar .action {
  margin: 0 auto;
}
.login-page .actions-toolbar .login {
  background-color: #fff;
  border: 1px solid transparent;
  padding: 0.625em 1.25em 0.625em 1.25em;
  font-size: 0.875em;
  line-height: 1.9375em;
  color: #b80056;
  text-transform: uppercase;
  font-family: "Gotham";
  cursor: pointer;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  position: relative;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
  display: inline-block;
  background-color: #b80056;
  color: #fff;
  min-width: 260px;
  margin: 1.5em 0;
}
.login-page .actions-toolbar .login:hover {
  background-color: #fff;
  color: #b80056;
  border-color: transparent;
}
.login-page .actions-toolbar .login:hover {
  background-color: #b80056;
  color: #fff;
}
.login-page .actions-toolbar .secondary .remind {
  font-size: 1.125em;
  font-family: 'Gotham';
  font-weight: 500;
  margin-top: 1em;
  text-decoration: underline;
}
.login-page a.primary,
.login-page button.primary {
  background-color: #fff;
  border: 1px solid transparent;
  padding: 0.625em 1.25em 0.625em 1.25em;
  font-size: 0.875em;
  line-height: 1.9375em;
  color: #b80056;
  text-transform: uppercase;
  font-family: "Gotham";
  cursor: pointer;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  position: relative;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
  display: inline-block;
}
.login-page a.primary:hover,
.login-page button.primary:hover {
  background-color: #fff;
  color: #b80056;
  border-color: transparent;
}
.login-page .block-new-customer {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
  background-color: #ececec;
}
.login-page .block-new-customer .block-title {
  color: #fff;
  font-weight: bold;
  font-family: "Gotham";
  text-align: left;
  border-bottom: 0;
  margin-bottom: 0;
  padding: 0 1em;
  font-size: 1.5625em;
}
.login-page .block-new-customer .block-content {
  text-align: left;
  padding: 0.5em 1.5em 0.2em 1.5em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.login-page .block-new-customer .block-content p {
  font-size: 1.25em;
  color: #fff;
  max-width: 710px;
}
.login-page .block-new-customer .actions-toolbar {
  margin-top: 0;
}
.login-page .line {
  background-color: #ececec;
  padding: 2em 1em 4em 1em;
  position: relative;
}
.login-page .line h4 {
  margin: 0;
  font-size: 3em;
  display: inline-block;
  position: relative;
  background-color: #ececec;
  padding: 0.2em;
}
.login-page .line:after {
  content: '';
  display: block;
  border: 1px solid #a1a1a1;
  max-width: 15.625em;
  margin: -2em auto 0 auto;
}
.login-page .login-container:after {
  content: '';
  display: block;
  background-color: #ececec;
  width: 100%;
  height: 6.25em;
}
@media (max-width: 575px) {
  .login-page .field {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .login-page .page-title {
    font-size: 2.5em;
  }
}
.blog-page .news-section {
  padding: 10% 0 5% 0;
}
